.floating-object {
    animation: float 6s ease-in-out infinite;
  }
  
  @keyframes float {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
    }
  }
  